<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="\css\style.css">
    <script src="https://kit.fontawesome.com/f3d3bcd31b.js" crossorigin="anonymous"></script>
    <script src="Assest\js\script.js" defer></script>
    <script src="" defer></script>
    
</head>

<body>
    <div id="container">
        <div id="upper">
            <div id="title-box">
               
                
    <h1 id="title-text2" style="font-family: sans-serif; ">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ğ’œğ“ˆğ’½ğ’¾ğ“ˆğ’½-ğ’¯ğ‘œğ’¹ğ‘œğ“ğ’¾ğ“ˆğ“‰
    </h1>
            </div>
            <div id="form-container">
                <form action="/add-task" method="post">
                    <div id="task-container">
                        <span class="container-heading">
                          &nbsp; ğ““ğ“”ğ“¢ğ“’ğ“¡ğ“˜ğ“Ÿğ“£ğ“˜ğ“ğ“
                        </span>
                        <textarea name="task" placeholder="&nbsp;ğ’²ğ’½ğ’¶ğ“‰ ğ’¹ğ‘œ ğ“ğ‘œğ“Š ğ“Œğ’¶ğ“ƒğ“‰ ğ“‰ğ‘œ ğ’¹ğ‘œ?" required></textarea>
                    </div>
                    <div id="select-container">
                        <span class="container-heading">
                            &nbsp; ğ“’ğ“ğ“£ğ“”ğ“–ğ“ğ“¡ğ“¨
                          </span>
                        <select name="category" id="drop-down" required> 
                            <option value="">ğ’ğ’½ğ‘œğ‘œğ“ˆğ‘’ ğ’¶ ğ’¸ğ’¶ğ“‰ğ‘’ğ‘”ğ‘œğ“‡ğ“</option>
                            <option value="Personal">ğ’«ğ‘’ğ“‡ğ“ˆğ‘œğ“ƒğ’¶ğ“</option>
                            <option value="Work">ğ’²ğ‘œğ“‡ğ“€</option>
                            <option value="School">ğ’®ğ’¸ğ’½ğ‘œğ‘œğ“</option>
                            <option value="Cleaning">ğ’ğ“ğ‘’ğ’¶ğ“ƒğ’¾ğ“ƒğ‘”</option>
                            <option value="Other">ğ’ªğ“‰ğ’½ğ‘’ğ“‡</option>
                        </select>
                    </div>
                    <div id="date-container">
                        <span class="container-heading">
                                &nbsp; ğ““ğ“¤ğ“” ğ““ğ“ğ“£ğ“”
                              </span>
                        <input id="date-input" type="date" name="date">
                    </div>

                    <div id="btn-container">
                        <button class="add-btn" type="submit"><i class="fas fa-plus"></i> <span id="button-text"> &nbsp; Add Task</span></button>
                    </div>

                </form>
            </div>

        </div>
        <div id="lower">
            <div id="list">
                <ul>
                    <form action="/delete-task/" method="GET">
                        <% for(let i of tasks) {%>
                            <li>
                                <span id="checkbox-container">
                                    <input id="check" type="checkbox" name="<%= i._id %>">
                                </span>
                                <div style="display: inline-block;">
                                    <span id="list-task"><%= i.task %></span> <br>
                                    <span id="list-date"><i class="fa fa-calendar" aria-hidden="true"></i><span id="task-date-value"> <%= i.date %></span></span>
                                </div>
                                <div class="list-category">
                                    <p id="category-box-text">
                                        <%= i.category %>
                                    </p>
                                </div>

                            </li>
                            <%} %>
                                <button id="del-btn" type="submit"><i class="fas fa-trash"></i><span id="button-text" 
                                    style="position: relative; top: -1px;">&nbsp;&nbsp; Delete Tasks</span></button>
                    </form>
                </ul>
            </div>

        </div>
    </div>
    
</body>

</html>